{% extends 'base.html' %}

{% load wagtailimages_tags %}

{% block title %}Leaderboard{% endblock %}

{% block body_class %}template-site-index{% endblock %}

{% block content %}
  <section class="blue-section">
    <div class="page-header">
      {% if site_category.icon %}
        {% image site_category.icon height-100 %}
      {% endif %}
    </div>
    <div class="section-content">
      <h1 class="page-header">Leaderboard: {{ site_category.name }}</h1>
      <h5 class="page-subhead">See which news publications have the most secure HTTPS implementation</h5>
    </div>
  </section>

  <section class="white-section">
    <div class="section-content">
      <div class="clearfix align-middle">
        <div class="input-group search-input">
          <input type="text" name="search" placeholder="Search for a specific news publication">
          <i class="input-group-addon fa fa-search"></i>
        </div>
        <div class="social-container">
          {% include 'shared/social.html' with url=request.build_absolute_uri %}
        </div>
      </div>
      <div id="leaderboard">
        <!-- JS renders the leaderboard here -->
        <noscript><p>Sorry, you must have Javascript enabled to view the leaderboard.</p></noscript>
      </div>
      <div class="align-center leaderboard-button-container">
        <a href="{% url 'sites:index' %}">
          <div class="button button-primary button-dark" aria-role="button">
            See full leaderboard  <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </div>
        </a>
      </div>
    </div>
  </section>

  <!-- Dump the site data to be rendered client-side. -->
  <script type="text/javascript">
    var STNsiteData = {{ sites_json|safe }};
  </script>
{% endblock %}
