{% extends "base.html" %}

{% block og_title %}Secure the News | {{ site.name }}{% endblock %}
{% block og_description %}Security Rating: {{ scan.grade.grade }}{% endblock %}

{% block twitter_card_title %}Secure the News | {{ site.name }}{% endblock %}
{% block twitter_card_description %}Security Rating: {{ scan.grade.grade }}{% endblock %}

{% load site_tags %}

{% block body_class %}template-site-page{% endblock %}

{% block content %}
  <section class="blue-section">
    <div class="section-content">
      <h1 class="page-header">
        <a href="http://{{site.domain}}">{{ site.name }}</a>
      </h1>
      <h5 class="page-subhead">Security Rating: {% grade scan %}</h5>
    </div>
  </section>

  <section class="white-section">
    <div class="section-content">
      <div class="clearfix align-middle">
        <div class="back-button-container">
          <a href="/sites">
            <div class="button-back button button-light" aria-role="button">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>See all publications
            </div>
          </a>
        </div>
        <div class="social-container">
          {% include 'shared/social.html' with url=request.build_absolute_uri %}
        </div>
      </div>

      <div class="rating-section">
        <div class="rating-section-header clearfix align-middle">
          <div class="rating-section-title pull-left inline-block">
            Valid HTTPS
          </div>
          <div class="rating-section-grade pull-right inline-block">
            {% if scan.valid_https %}
              <span class="success">YES</span>
            {% else %}
              <span class="fail">NO</span>
            {% endif %}
          </div>
        </div>
        <div class="rating-section-body">
          {% if scan.valid_https %}
            Supports HTTPS and has a valid certificate.
          {% else %}
            Does not support HTTPS or has an invalid certificate.
          {% endif %}
        </div>
      </div>

      <div class="rating-section">
        <div class="rating-section-header clearfix align-middle">
          <div class="rating-section-title pull-left inline-block">
            Available over HTTPS
          </div>
          <div class="rating-section-grade pull-right inline-block">
            {% if scan.valid_https and not scan.downgrades_https %}
              <span class="success">YES</span>
            {% else %}
              <span class="fail">NO</span>
            {% endif %}
          </div>
        </div>
        <div class="rating-section-body">
          {% if scan.valid_https and not scan.downgrades_https %}
            HTTPS is available.
          {% else %}
            {% if scan.valid_https %}
              HTTPS is not available because the site redirects secure HTTPS endpoints to insecure HTTP (also known as <em>downgrading</em> HTTPS).
            {% else %}
              HTTPS is not available.
            {% endif %}
          {% endif %}
        </div>
      </div>

      <div class="rating-section">
        <div class="rating-section-header clearfix align-middle">
          <div class="rating-section-title pull-left inline-block">
            Defaults to HTTPS
          </div>
          <div class="rating-section-grade pull-right inline-block">
            {% if scan.defaults_to_https %}
              <span class="success">YES</span>
            {% else %}
              <span class="fail">NO</span>
            {% endif %}
          </div>
        </div>
        <div class="rating-section-body">
          {% if scan.defaults_to_https %}
            The default for this website is secure.
          {% else %}
            This website defaults to insecure HTTP.
          {% endif %}
        </div>
      </div>

      <div class="rating-section">
        <div class="rating-section-header clearfix align-middle">
          <div class="rating-section-title pull-left inline-block">
            Strict Transport Security (HSTS)
          </div>
          <div class="rating-section-grade pull-right inline-block">
            {% if scan.hsts %}
              <span class="success">YES</span>
            {% else %}
              <span class="fail">NO</span>
            {% endif %}
          </div>
        </div>
        <div class="rating-section-body">
          {% if scan.hsts %}
            This website allows clients to enforce HTTPS on the primary domain.
          {% else %}
            This website does not allow clients to enforce HTTPS.
          {% endif %}
        </div>
      </div>

      <div class="rating-section">
        <div class="rating-section-header clearfix align-middle">
          <div class="rating-section-title pull-left inline-block">
            Strict Transport Security (HSTS) on entire domain
          </div>
          <div class="rating-section-grade pull-right inline-block">
            {% if scan.hsts_entire_domain %}
              <span class="success">YES</span>
            {% else %}
              <span class="fail">NO</span>
            {% endif %}
          </div>
        </div>
        <div class="rating-section-body">
          {% if scan.hsts_entire_domain %}
            This website allows clients to enforce HTTPS on the entire site, including subdomains.
          {% else %}
            This website does not allow clients to enforce HTTPS on subdomains.
          {% endif %}
        </div>
      </div>

      <div class="rating-section">
        <div class="rating-section-header clearfix align-middle">
          <div class="rating-section-title pull-left inline-block">
            Strict Transport Security (HSTS) max-age over 18 weeks
          </div>
          <div class="rating-section-grade pull-right inline-block">
            {% if scan.hsts_max_age and scan.hsts_max_age >= 10886400 %}
              <span class="success">YES</span>
            {% else %}
              <span class="fail">NO</span>
            {% endif %}
          </div>
        </div>
        <div class="rating-section-body">
          {% if scan.hsts_max_age and scan.hsts_max_age >= 10886400 %}
            This website sets an HSTS max-age greater than or equal to 18 weeks, which is the minimum required for preloading.
          {% else %}
            This website does not set an HSTS max-age greater than or equal to 18 weeks, which is the minimum required for preloading.
          {% endif %}
        </div>
      </div>

      <div class="rating-section">
        <div class="rating-section-header clearfix align-middle">
          <div class="rating-section-title pull-left inline-block">
            HSTS Preload-Ready
          </div>
          <div class="rating-section-grade pull-right inline-block">
            {% if scan.hsts_preload_ready %}
              <span class="success">YES</span>
            {% else %}
              <span class="fail">NO</span>
            {% endif %}
          </div>
        </div>
        <div class="rating-section-body">
          {% if scan.hsts_preload_ready %}
            This website is ready to be HSTS preloaded.
          {% else %}
            This website is not ready to be HSTS preloaded.
          {% endif %}
        </div>
      </div>

      <div class="rating-section">
        <div class="rating-section-header clearfix align-middle">
          <div class="rating-section-title pull-left inline-block">
            HSTS Preloaded
          </div>
          <div class="rating-section-grade pull-right inline-block">
            {% if scan.hsts_preloaded %}
              <span class="success">YES</span>
            {% else %}
              <span class="fail">NO</span>
            {% endif %}
          </div>
        </div>
        <div class="rating-section-body">
          {% if scan.hsts_preloaded %}
            This website is HSTS preloaded.
          {% else %}
            This website is not HSTS preloaded.
          {% endif %}
        </div>
      </div>

  </section>
{% endblock %}
