# Harris and Cameron are codeowners for all website changes
*   @harrislapiroff @chigby

# Mike should review testing changes, with Conor as backup
molecule/   @msheiny @conorsch

# Mickael should be in the loop on ownership modifications
.github/    @emkll
