{% extends "base.html" %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
  <section class="blue-section">
    <div class="section-content">
      <h1 class="page-header">{{ page.main_title }}</h1>
      <h5 class="page-subhead">{{ page.sub_title }}</h5>

      <div class="overview-stats">
        <div class="stat-block">
          <div class="stat-block-number">{{ percent_offering_https }}%</div>
          <div class="stat-block-caption">Of news sites offer HTTPS</div>
        </div>
        <div class="stat-block">
          <div class="stat-block-number">{{ percent_defaulting_to_https }}%</div>
          <div class="stat-block-caption">default to HTTPS</div>
        </div>
        <div class="stat-block">
          <div class="stat-block-number">{{ num_pledged }}</div>
          <div class="stat-block-caption">site{{ num_pledged|pluralize }} committed to change</div>
        </div>
      </div>

      <div id="teaser">
        <!-- JS renders site score teaser here -->
        <noscript><p>Sorry, you must have Javascript enabled to view the teaser.</p></noscript>
      </div>

      <div class="align-center">
        <a href="{% url 'sites:index' %}">
          <div class="button button-primary" aria-role="button">
            See full leaderboard  <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="gray-section panel-section">
    <div class="panel-container">
      <div class="panel green-panel panel-inline" id="why">
        <div class="inner-panel">
          <span class="panel-label">
            why?
          </span>
          <h3 class="panel-title">
            {{ page.why_header }}
          </h3>
          <p class="panel-content">
            {{ page.why_body }}
          </p>
          <a href="{{ page.why_learn_more.url }}">
            <div class="panel-cta button button-default">
            Learn more <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="panel blue-panel panel-inline" id="how">
        <div class="inner-panel">
          <span class="panel-label">
            how
          </span>
          <h3 class="panel-title">
            {{ page.how_header }}
          </h3>
          <p class="panel-content">
            {{ page.how_body }}
          </p>
          <a href="{{ page.how_learn_more.url }}">
            <div class="panel-cta button button-default">
            Learn more <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="leaderboard-section" id="stats">
    <div class="section-content">
      <h1 class="leaderboard-header align-center">Leaderboard</h1>
      <div id="leaderboard" data-interactive="false" data-limit="10">
        <!-- JS renders the leaderboard here -->
        <noscript><p>Sorry, you must have Javascript enabled to view the leaderboard.</p></noscript>
      </div>
      <div class="align-center leaderboard-button-container">
        <a href="{% url 'sites:index' %}">
          <div class="button button-primary button-dark" aria-role="button">
            See full leaderboard  <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="leaderboard-section">
    <h1 class="leaderboard-header align-center">View Leaderboards by Category</h1>
    <div class="section-content">
      {% for site_category in site_categories %}
        <div class="align-center">
          <a href="{% url 'sites:leaderboard' slug=site_category.slug %}">
            <div class="sm-button button-gray" aria-role="button">
              {{ site_category.name }} <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </section>

  <!-- Dump the site data to be rendered client-side. -->
  <script type="text/javascript">
    var STNsiteData = {{ sites_json|safe }};
  </script>
{% endblock %}
