.vagrant

# Python bytecode
__pycache__/
*.pyc

# Development database
db.sqlite3

# virtualenv
env/

# Development database backups
db_backups/

# Log files
logs/

# Local deploy testing
devops/.ansible
devops/.molecule
devops/venv
devops/deploy_key
devops/django_stack
devops/roles
