.vagrant

# Python bytecode
__pycache__/
*.pyc

# virtualenv
env/

# Development database backups
db_backups/

# Log files
logs/

# Local deploy testing
.molecule/
devops/.ansible
devops/.molecule
devops/venv
devops/deploy_key
devops/roles
molecule/.cache/

# Node dependencies
node_modules

# gulp build artifacts
client/build/

# Django/Wagtail user-uploaded files
media/

# Node container
npm-debug.log
