### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# virtualenv
env/

# Development database backups
db_backups/

# Log files
logs/*.log
logs/*.xml

# Local deploy testing
.molecule/
devops/.ansible
devops/.molecule
devops/venv
devops/deploy_key
devops/roles
molecule/.cache/

# Node dependencies
node_modules

# webpack builds
client/build/

# Django/Wagtail user-uploaded files
media/

# Node container
npm-debug.log
.node_complete


# used for passing vars to docker-compose from make
.env

# dont checkin xml junit results
test-results/*.xml

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

#visual studio code
.vscode

# Ignore files created to communicate system deployment info
.versioninfo
