[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"autopep8" = "*"
bandit = "*"
docker-compose = "*"
flake8 = "*"
pathlib2 = "*"
safety = "*"
testinfra = "*"
