Django
django-analytical
django-cors-headers
django-crispy-forms
django-filter
-e git+https://github.com/freedomofpress/django-logging.git@Remove_Elastic#egg=django-logging-json
django-mailgun
elasticsearch
gunicorn
# markdown2 is required by pshtt
markdown2>=2.3.5
pshtt
psycopg2
wagtail
wagtailmenus
