{% load static wagtailuserbar %}
{% load menu_tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,700' rel='stylesheet' type='text/css'>
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block header %}
          <div class="header sticky">
            <a href="/">
              <span class="header-item logo">SECURETHENEWS</span>
            </a>
            {% block menu %}{% main_menu %}{% endblock %}
          </div>
        {% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}
          <section class="footer align-center" id="footer">
            <div class="section-content">
              <h3 class="footer-header align-center">
                A JOINT PROJECT OF:
              </h3>
              <div class="footer-logos">
                <span class="fpf-logo">FREEDOM OF THE PRESS</span>
                <span class="cpj-logo">COMMITTEE TO PROTECT JOURNALISTS</span>
              </div>
              <p class="fine-print">
                This work is licensed under a Creative Commons Attribution 4.0 International License
              </p>
            </div>
          </section>
        {% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'build.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
