{% load static wagtailuserbar %}
{% load menu_tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        <!-- Open Graph -->
        <meta property="og:url" content="{{ request.build_absolute_uri }}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{% block og_title %}Secure the News{% endblock %}" />
        <meta property="og:description" content="{% block og_description %}Every news site should be secure.{% endblock %}" />
        <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'images/logo.png' %}" />

        <!-- Twitter Cards -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@SecureTheNews" />
        <meta name="twitter:title" content="{% block twitter_card_title %}Secure the News{% endblock %}" />
        <meta name="twitter:description" content="{% block twitter_card_description %}Every news site should be secure.{% endblock %}" />
        <meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'images/logo.png' %}" />

    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block header %}
          <div class="header sticky">
            <a href="/">
              <img src="{% static 'images/logo.svg' %}">
              <span class="header-item logo">SECURETHENEWS</span>
            </a>
            <i class="mobile-header-js fa fa-bars mobile-only"></i>
            <div class="tap-catcher-js"></div>
            {% block menu %}{% main_menu %}{% endblock %}
          </div>
        {% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}
          <section class="footer align-center" id="footer">
            <div class="section-content">
              <h3 class="footer-header align-center">
                A PROJECT OF:
              </h3>
              <div class="footer-logo">
                  <span class="fpf-logo">
                    <a href="https://freedom.press">
                      <img src="{% static 'images/fpf-logo.svg' %}" alt="Freedom of the Press Foundation">
                    </a>
                  </span>
              </div>
              <p class="fine-print">
                This work is licensed under a Creative Commons Attribution 4.0 International License
              </p>
            </div>
          </section>
        {% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'build.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
