{% extends 'base.html' %}

{% block title %}Pledge to Secure your Site{% endblock %}

{% block body_class %}template-site-pledge{% endblock %}

{% block content %}
  <section class="blue-section">
    <div class="section-content">
      <h1 class="page-header">Pledge to Secure Your Site</h1>
      <h5 class="page-subhead">Publicly share your intention to protect your readers by securing your website</h5>
    </div>
  </section>

  <section class="white-section">
    <div class="section-content">
      <p>Planning to secure your site? We recognize that deploying HTTPS is a
      serious undertaking that can take a lot of time and attention. If you
      pledge to secure your site, we'll indicate your committment to doing so
      next to your grade on this site, so your users will know you're working on
      it.</p>
      <p>If you're involved with one of the news organizations listed on Secure
      the News, you can use the form below to pledge to securing your site. In
      order to do so, you will need to:</p>
      <p>
        <ol>
          <li>Publish a page on your website, indicating your intention to secure your site.</li>
          <li>Fill out the form below, providing a link to your statement of intent.</li>
          <li>Provide a contact email address so we can be in touch if we have any questions.</li>
        </ol>
      </p>
      <p>Once you've submitted the form, Freedom of the Press Foundation staff
      will review your submission. If it meets our criteria, we will approve it,
      which will add an indicator to your scores on this site indicating your
      intention to secure your site eventually.</p>
      <form method="post">
          {% csrf_token %}
          {{ form }}
          <input type="submit" value="Submit" />
      </form>
    </div>
  </section>
{% endblock %}
