{% extends 'base.html' %}

{% block title %}Pledge to Secure your Site{% endblock %}

{% block body_class %}template-site-pledge{% endblock %}

{% block content %}
  <section class="blue-section">
    <div class="section-content">
      <h1 class="page-header">Pledge to Secure Your Site</h1>
      <h5 class="page-subhead">Publicly share your intention to protect your readers by securing your site</h5>
    </div>
  </section>

  <section class="white-section">
    <div class="section-content">
      <p>Thanks for pledging to secure your site!</p>
    </div>
  </section>
{% endblock %}
