{% extends 'base.html' %}

{% block title %}Pledge confirmed{% endblock %}

{% block body_class %}template-confirm-pledge{% endblock %}

{% block content %}
  <section class="blue-section">
    <div class="section-content">
      <h1 class="page-header">Pledge confirmed</h1>
      <h5 class="page-subhead">You're done!</h5>
    </div>
  </section>

  <section class="white-section">
    <div class="section-content">
      <p>Your pledge to secure <strong>{{ pledge.site.name }}</strong> has been confirmed!</p>
    </div>
  </section>
{% endblock %}
