Django>=1.10,<1.11
git+https://github.com/jcassee/django-analytical.git@e8e2d841588ad3d60ba602a79b8feca632ca99a3#egg=django-analytical
django-logging-json==1.5.3
django-mailgun==0.9.1
gunicorn==19.6.0
Pillow==3.4.2
psycopg2==2.6.2
wagtail>=1.8,<1.9
wagtailmenus>=1.6,<1.7
requests==2.12.3
