Django>=1.11.11<2
django-analytical
django-cors-headers
django-crispy-forms
django-filter
-e git+https://github.com/freedomofpress/django-logging.git@Remove_Elastic#egg=django-logging-json
django-mailgun
elasticsearch
gunicorn
markdown2>=2.3.5  # required by pshtt, forcing newer version for patch
pshtt
psycopg2
python-json-logger
wagtail
wagtailmenus
