{% extends "base.html" %}

{% block body_class %}template-content-page{% endblock %}

{% block content %}
  <section class="blue-section">
    <div class="section-content">
      <h1 class="page-header">{{ page.title }}</h1>
      <h5 class="page-subhead">{{ page.sub_header }}</h5>
      <div class="social-container align-center">
        {% include 'shared/social.html' with url=request.build_absolute_uri %}
      </div>
    </div>
  </section>

  <section class="white-section">
    <div class="section-content">
      <div>{{ page.body }}</div>
    </div>
  </section>
{% endblock %}
