FROM python@3.7-alpine

RUN apk add --no-cache \
            bash \
            curl \
            gcc \
            git \
            # pillow dep
            jpeg-dev \
            libffi-dev \
            musl-dev \
            paxctl \
            postgresql-dev \
            # pillow dep
            tiff-dev \
            # pillow dep
            zlib-dev

COPY docker/django-start.sh /usr/local/bin
RUN  chmod +x /usr/local/bin/django-start.sh
