{% extends 'base.html' %}

{% block title %}Confirm your pledge{% endblock %}

{% block body_class %}template-confirm-pledge{% endblock %}

{% block content %}
  <section class="blue-section">
    <div class="section-content">
      <h1 class="page-header">Confirm your pledge</h1>
      <h5 class="page-subhead">You're almost done!</h5>
    </div>
  </section>

  <section class="white-section">
    <div class="section-content rich-text">
      <p>Confirm your pledge to secure <strong>{{ pledge.site.name }}</strong>:</p>
      <form method="post">
          {% csrf_token %}
          <input type="hidden" name="nonce" value="{{ nonce }}" />
          <input type="submit" value="Confirm" />
      </form>
    </div>
  </section>
{% endblock %}
