{% extends 'base.html' %}

{% block title %}Pledge confirmed{% endblock %}

{% block body_class %}template-confirm-pledge{% endblock %}

{% block content %}
  <section class="blue-section">
    <div class="section-content">
      <h1 class="page-header">Pledge confirmed</h1>
      <h5 class="page-subhead">You're done!</h5>
    </div>
  </section>

  <section class="white-section">
    <div class="section-content rich-text">
      <p>Your pledge to secure <strong>{{ pledge.site.name }}</strong> has been confirmed!</p>
      <p>We'll review your pledge soon. Once it is approved, you will receive a confirmation email and a notice will be added to your <a href="{{ pledge.site.get_absolute_url }}">site's score page</a>.</p>
    </div>
  </section>
{% endblock %}
