.footer {
  background-color: $footerBackgroundColor;
}

.footer-header {
  color: $darkGray;
  letter-spacing: 2px;
  margin-bottom: $spacingUnit;
}

.footer-logo {
  height: 50px;
  margin-bottom: $spacingUnit;

  // Placeholder
  .fpf-logo {
    display: inline-block;
    width: 300px;
  }

  a {
    color: $textGray;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.fine-print {
  font-size: 12px;
}
