.template-site-pledge {
  label {
    width: 140px;
    display: inline-block;
    text-align: right;
    margin-right: $spacingUnit;
  }

  input[type="url"], input[type="email"] {
    display: inline-block;
    max-width: 75%;
    text-align: left;
    padding: 20px 30px;
  }

  input[type="submit"] {
    cursor: pointer;
  }
}
