.rich-text {
  font-size: $fontSize * 1.15;
  line-height: 1.5;
  color: black;
  margin-bottom: $spacingUnit;
  font-weight: 300;

  p {
    margin-bottom: $spacingUnit * 1.5;
  }

  ul, ol {
    padding-left: $spacingUnit * 2;
    margin-bottom: $spacingUnit * 1.5;
  }

  .richtext-image {
    &.full-width {
      // Center "full width" images
      display: block;
      margin: 0 auto;
    }
  }
}
