.page-header {
  margin-top: $spacingUnit;
  font-weight: 200;
  font-size: 60px;
  text-align: center;
}

.page-subhead {
  margin-top: $spacingUnit;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  color: $darkGray;
}

@media (max-width: $mediaXs) {
  .page-header {
    font-size: 50px;
  }
  .page-subhead {
    font-size: 18px;
  }
}

