.align-center {
  text-align: center;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.align-middle {
  vertical-align: middle;
}

.inline-block {
  display: inline-block;
}

@media (max-width: $mediaSmall) {
  .desktop-only {
    display: none;
  }
}

.hidden {
  visibility: hidden;
}
