// Colors
$gray: #dde0e2;
$darkGray: #989da1;
$yellow: #dad23b;
$lightGray: #ededed;
$blue: #16273d;
$lightBlue: #3bbaf4;
$textGray: #333;
$titleGray: #444;
$bylineGray: #939393;
$aColor: #7cd32f;
$bColor: #f0a030;
$fColor: #c7001f;

// Gradients
$blueGradient: linear-gradient(to top right, #000, #16273d);

// Spacing
$headerHeight: 120px;
$contentMaxWidth: 970px;
$contentPageMaxWidth: 750px;
$spacingUnit: 20px;

// Fonts
$sans: 'Source Sans Pro', sans-serif;
$serif: 'Alegreya', Georgia, serif;
$fa-font-path: 'fonts';
$fontSize: 1.2em;
$h1Size: $fontSize * 1.5;
$h2Size: $fontSize * 1.25;
$h3Size: $fontSize * 1.17;
$h4Size: $fontSize * 1.12;
$h5Size: $fontSize * 1.05;

// Media Queries
$mediaLarge: 1250px;
$mediaMedium: 978px;
$mediaSmall: 768px;
$mediaXs: 400px;
