// Colors
$gray: #dde0e2;
$darkGray: #989da1;
$yellow: #dad23b;
$lightGray: #ededed;
$blue: #16273d;
$lightBlue: #3bbaf4;
$textGray: #333;
$titleGray: #444;
$bylineGray: #939393;
$aColor: #7cd32f;
$bColor: #f0a030;
$fColor: #c7001f;

$footerBackgroundColor: $gray;

// Gradients
$blueGradient: linear-gradient(to top right, #000, #16273d);

// Spacing
$headerHeight: 120px;
$contentMaxWidth: 970px;
$contentPageMaxWidth: 800px;
$spacingUnit: 20px;

// Fonts
$sans: 'Source Sans Pro', sans-serif;
$fa-font-path: 'fonts';
$fontSize: 1.25em;
$h1Size: 2em;
$h2Size: 1.5em;
$h3Size: 1.25em;
$h4Size: 1.17em;
$h5Size: 1.12em;

// Media Queries
$mediaLarge: 1250px;
$mediaMedium: 978px;
$mediaSmall: 768px;
$mediaXs: 400px;
