// Colors
$gray: #dde0e2;
$darkGray: #989da1;
$yellow: #dad23b;
$lightGray: #ededed;
$blue: #16273d;
$lightBlue: #3bbaf4;
$textGray: #333;

// Spacing
$headerHeight: 60px;
$contentMaxWidth: 970px;
$spacingUnit: 20px;

// Fonts
$sans: 'Source Sans Pro', sans-serif;
$fa-font-path: 'fonts';

// Media Queries
$mediaLarge: 1250px;
$mediaMedium: 978px;
$mediaSmall: 768px;
$mediaXs: 400px;
