<div class="leaderboard">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>certificate</th>
        <th>cipher strength</th>
        <th>key exchange</th>
        <th>protocol support</th>
        <th>grade</th>
      </tr>
    </thead>
    <tbody>
      {% for site in sites %}
        <tr>
          <td>{{ site.name }}</td>
          <td class="grade-a">92%</td>
          <td class="grade-b">95%</td>
          <td class="grade-a">91%</td>
          <td class="grade-a">89%</td>
          <td><span class="grade grade-a">A+</span></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
