{% extends "base.html" %}

{% block body_class %}template-blog-index{% endblock %}

{% load wagtailcore_tags %}

{% block content %}
  <section class="white-section">
    <div class="section-content">
      <div class="blog-post-list">
        <div class="blog-post-item">
          {% for post in page.posts %}
          <h2 class="blog-title">{{ post.title }}</h2>
            <h5 class="blog-byline">{{ post.byline }} &middot; {{ post.date }}</h5>
            <p class="blog-intro">{{ post.body|richtext|truncatewords_html:30 }}</p>
            <a href="{{ post.url }}">
              <div class="button button-light" aria-role="button">read more<i class="fa fa-chevron-right" aria-hidden="true"></i></div>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
