{% extends "base.html" %}

{% block body_class %}template-blog-index{% endblock %}

{% load wagtailcore_tags %}

{% block menu %}
  <a href="#footer">
    <span class="header-item about">
      about
    </span>
  </a>
  <a href="/leaderboard">
    <span class="header-item stats" href="/leaderboard">
      stats
    </span>
  </a>
  <a href="/why">
    <span class="header-item why" href="/why">
      why
    </span>
  </a>
  <a href="/how">
    <span class="header-item how" href="/how">
      how
    </span>
  </a>
{% endblock %}

{% block content %}
  <section class="white-section">
    <div class="section-content">
      <div class="blog-post-list">
        <div class="blog-post-item">
          {% for post in posts %}
          <h2 class="blog-title">{{ post.title }}</h2>
            <h5 class="blog-byline">{{ post.byline }} &middot; {{ post.date }}</h5>
            <p class="blog-intro">{{ post.intro }}</p>
            <a href="{{ post.url }}">
              <div class="button button-light" aria-role="button">read more<i class="fa fa-chevron-right" aria-hidden="true"></i></div>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
