$buttonHeight: 50px;
$smallButtonHeight: 30px;

.button {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  background-image: none;
  border-radius: $buttonHeight / 2;
  font-size: 16px;
  height: $buttonHeight;
  line-height: $buttonHeight;
  padding: 0 $spacingUnit * 2.5;
  cursor: pointer;
  text-align: center;
  touch-action: manipulation;
  border: 1px solid transparent;
  white-space: nowrap;

  i {
    margin-left: $spacingUnit / 2;
  }

  &.button-primary {
    background-color: $lightBlue;
    color: $blue;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;

    &:hover {
      background-color: darken($lightBlue, 20%);
      color: darken($blue, 20%);
    }
  }

  &.button-default {
    color: #fff;
    border: 1px solid $yellow;

    &:hover {
      background-color: $yellow;
      color: $blue;
    }
  }

  &.button-dark {
    background-color: $blue;
    color: #fff;

    i {
      color: $yellow;
    }

    &:hover {
      background-color: darken($blue, 10%);
      color: #fff;
    }
  }

  &.button-light {
    background-color: transparent;
    color: $blue;
    border: 1px solid $lightBlue;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;

    &:hover {
      background-color: $lightBlue;
      color: #fff;
    }
  }

  &.button-gray {
    background-color: $lightGray;
    color: $blue;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;

    &:hover {
      background-color: darken($lightGray, 10%);
    }
  }

  &.button-back {
    i {
      margin-left: 0;
      margin-right: $spacingUnit / 2;
    }
  }
}

.sm-button {
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: middle;
  border-radius: $smallButtonHeight / 2;
  font-size: 14px;
  height: $smallButtonHeight;
  line-height: $smallButtonHeight;
  padding: 0 $smallButtonHeight * 1.5;
  cursor: pointer;
  text-align: center;
  touch-action: manipulation;
  border: 1px solid transparent;
  white-space: nowrap;

  &.button-gray {
    background-color: $lightGray;
    color: $blue;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;

    &:hover {
      background-color: darken($lightGray, 10%);
    }
  }
}


@media (max-width: $mediaXs) {
  .button {
    padding: 0 $spacingUnit;
  }
}
