.template-homepage {
  .header {
    color: #fff;
  }

  .gray-section {
    background-color: $gray;
  }
}

.overview-stats {
  margin: auto;
  margin-top: $spacingUnit * 4;
  margin-bottom: $spacingUnit * 4;
  max-width: 700px;
}

.stat-block {
  display: inline-block;
  width: 32%;
  vertical-align: top;
}

$statBlockMaxWidth: 140px;

.stat-block-number {
  max-width: $statBlockMaxWidth;
  margin: auto;
  margin-bottom: $spacingUnit / 2;
  text-align: center;
  font-size: 50px;
  font-weight: 200;
  color: $yellow;
  text-rendering: geometricPrecision;
}

.stat-block-caption {
  margin: auto;
  max-width: $statBlockMaxWidth;
  font-weight: 200;
  color: $darkGray;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: $mediaSmall) {
  .stat-block {
    display: block;
    margin: auto;
    margin-bottom: $spacingUnit * 2;
  }
}

#teaser {
  // Set min-height so this takes up space initially (before the Backbone View
  // has rendered)
  min-height: 60px;
  margin-bottom: $spacingUnit * 3;

  noscript p {
    padding-top: $spacingUnit;
    text-align: center;
  }
}

.teaser {
  text-align: center;

  a {
    color: #fff;
    text-decoration: none;
    display: inline-block;

    &:hover {
      color: #d9d9d9;
      cursor: pointer;
    }

    &:not(:last-child) {
      margin-right: $spacingUnit * 2;
    }
  }
}

// Go down to two teasers on small desktops/tablets.
@media (max-width: $mediaMedium) {
  .teaser a:last-child {
    display: none;
  }
}

// Hide the teaser on mobile.
@media (max-width: $mediaSmall) {
  #teaser {
    min-height: 0;
  }

  .teaser {
    display: none;
  }
}


.leaderboard-header {
  font-weight: 200;
  font-size: 30px;
  margin: $spacingUnit * 2 0;
  color: $blue;
}

.leaderboard-section {
  padding: 0 $spacingUnit 2 * $spacingUnit;

  .section-content {
    padding: 2 * $spacingUnit 0 0;
  }
}

.leaderboard-button-container {
  margin-top: $spacingUnit * 3;
}
