.template-site-index {
  .search-input {
    float: left;
    max-width: 400px;
    width: 100%;
    margin-right: $spacingUnit;
  }

  .social-container {
    float: right;
    margin-top: $spacingUnit / 2;
  }

  @media (max-width: $mediaSmall) {
    .search-input {
      float: none;
      max-width: 100%;
    }

    .social-container {
      margin-top: $spacingUnit;
      float: none;
    }
  }

  .leaderboard {
    margin-top: $spacingUnit * 2;
  }
}


