$facebookBlue: #354ba1;
$twitterBlue: #139ae9;
$socialIconBorderWidth: 2px;

.social-container {
  margin-top: $spacingUnit * 2;
}

.social-icon {
  display: inline-block;
  width: $spacingUnit * 2;
  line-height: $spacingUnit * 2 - 2 * $socialIconBorderWidth;
  border-radius: 50%;
  border: $socialIconBorderWidth solid #fff;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 20px;

  &:not(:last-child) {
    margin-right: $spacingUnit / 2;
  }

  &.facebook {
    color: $facebookBlue;
    border-color: $facebookBlue;

    &:hover {
      background-color: $facebookBlue;
      color: #fff;
    }
  }

  &.twitter {
    color: $twitterBlue;
    border-color: $twitterBlue;

    &:hover {
      background-color: $twitterBlue;
      color: #fff;
    }
  }

}
