.align-center {
  text-align: center;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.align-middle {
  vertical-align: middle;
}

.inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

@media (max-width: $mediaSmall) {
  .desktop-only {
    display: none;
  }
}

@media (min-width: $mediaSmall) {
  .mobile-only {
    display: none !important;
  }
}

.hidden {
  visibility: hidden;
}

.d-hidden {
  display: none;
}
